.App{
  background-size: cover;
  background-position: center;
  min-height: 100vh;

}

.title{
  color: #fff;
}

.CardPhrase {
  /* background-image: url('/rectangle1.svg'); */
  padding: 1.5em;
  border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  width: 100%;
  max-width: 400px;
  background-color: white;

}

.ButtomRandom{ 
  border-radius: 0.3em; -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; -ms-border-radius: 0.3em; -o-border-radius: 0.3em;
}
